@import url('https://fonts.googleapis.com/css?family=Lato');

/* Color Inspirations from https://www.canva.com/learn/website-color-schemes/ */
:root {
--main-bg-color: #fff;
--main-txt-color: #3c3c3c;
--main-header-color: #af473c;
--color-accents: #626e60;
}


html, 
body {
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: var(--main-bg-color);
  color: var(--main-txt-color);
  font-family: 'Lato', sans-serif;
  font-size: 1.1rem;
}



/* =========== FLEXBOX =========== */
.flexbox {
  display: flex;
  flex-flow: row wrap;
  height: 100%;
  justify-content: center;
}

.header {
  width: 100%;
  padding: 0 1%;
}

.header h1 {
  color: var(--main-header-color);
}

.main {
  padding: 1%;
}

.menu {
  padding: 1%;
  height: 70vh;
  overflow-y: scroll;
  position: relative
}

h3 {
  color: var(--color-accents);
  font-size: 1.1rem;
}

.menu input {
   width: 80%;
   }


/* =========== MAP =========== */
#map {
  background-color: var(--main-bg-color);
  min-width: 70vw;
  height: auto;
  padding: 3% 0 0 0;
   }

#infowindow-content {
  display: none;
}
#map #infowindow-content {
  display: inline;
}


/* =========== RESPONSIVE =========== */
@media only screen and (max-width: 900px) {
  .menu
  .main {
    width: 100%;
    padding: 0;
  }
}

@media only screen and (min-width: 901px) {
  .main {
    flex: 1 70%;
  }

  .menu {
    flex: 1 25%;
  }
}
